* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

html {
  font: 100%/1.5 "Old Standard TT", "Big Caslon", "Times New Roman", serif;
  color: #3D464D;
  background-color: #fff;
}

@media (min-width: 800px) {
  html {
    font-size: 112.5%;
  }

  body {
    -webkit-scroll-snap-type: proximity;
    -webkit-scroll-snap-points-y: repeat(100%);
  }
}

section {
  min-height: 100vh;
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

  @media (max-width: 800px) {
    section {
      padding: 2rem;
    }
  }

h1 {
  font-size: 4rem;
  font-style: italic;
  font-weight: 400;
}

  @media (max-width: 800px) {
    h1 {
      font-size: 2.6666rem;
    }
  }

header {
  text-align: center;
  margin-bottom: 4rem;
}

p {
  margin: 0 auto;
  margin-bottom: 1rem;
  max-width: 27rem;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid rgba(0,0,0,.2);
}

  a:hover {
    color: #EF540D;
    border-bottom-color: rgba(239, 84, 13, .5);
    background-color: rgba(239, 84, 13, .1);
  }

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0 auto .5rem;

  background-color: #fff;
  border-radius: 4px;
  border-bottom: 0;
  color: #25282B;
  text-decoration: none;
}

  .btn:hover {
    color: #fff;
    background-color: #EF540D;
  }

.u-tac {
  text-align: center;
}

.u-up {
  letter-spacing: .25em;
  text-transform: uppercase;
}

.u-sans {
  font-family: 'Questrial', sans-serif;
}

.u-invert {
  color: #fff;
  background-color: #25282B;
}

.meta {
  color: #91979E;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
